// pay.scss
.pay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; // Light gray background for contrast
    padding: 20px;
    box-sizing: border-box;

    .Elements {
        width: 100%;
        max-width: 400px; // Limiting the width of the payment form
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); // Subtle shadow for depth
        background: #ffffff; // White background for the form area
        border-radius: 8px; // Rounded corners for the form container

        @media (max-width: 480px) { // Responsive adjustments
            padding: 1rem;
            box-shadow: none;
            border-radius: 0;
        }
    }

    .CheckoutForm {
        display: flex;
        flex-direction: column;
        gap: 1rem; // Space between form elements

        label {
            color: #333; // Dark color for text for better readability
            font-size: 0.9rem; // Slightly smaller font size for labels
        }

        input {
            padding: 10px;
            border: 1px solid #ccc; // Light gray border for inputs
            border-radius: 4px; // Rounded corners for inputs
            font-size: 1rem; // Readable text size
        }

        button {
            background-color: #90ee90; // Light green color for the button
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s;
            //margin: auto; // Centers the button within its container
            //display: block; // Ensures the button is a block element for centering

            &:hover {
                background-color: #76c476; // Darker shade of green on hover
            }
        }
    }
}
